.project {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 12%;
  width: 100%;

  &:hover {
    cursor: pointer;
    background: green;
  }
}

.project-title {
  margin-left: 6px;
  padding-top: 4%;
}