.project {
  align-items: center;
  display: flex;
  height: 22%;
  margin: 4px 0 4px 4px;
  width: 100%;
}

.project-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 85%;
  h3 {
    height: 20px;
    padding: 0;
  }
  &:hover {
    cursor: pointer;
    background: $console-hover;
  }
}

.project-delete {
  display: flex;
  justify-content: center;
  width: 15%;
  button {
    @include delete-btn;
  }
}

.active-project {
  .project-title {
    background-color: $active;
  }
}