.project {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 12%;
  width: 100%;

  &:hover {
    cursor: pointer;
    background: green;
  }
  &:active {
    color: blue;
  }
  &:focus {
    color: red;
  }
  &:target {
    color: yellow;
  }
}

.project-title {
  margin-left: 6px;
  padding-top: 4%;
  width: 80%;
}

.project-delete {
  padding: 0;
  width: 20%;
}