.info-container {
  background-color: $background;
  border: 4px solid $border;
  border-radius: 10px;
  left: 29%;
  padding-bottom: 20px;
  position: relative;
  top: 10%;
  width: 42%;
  z-index: 2;
  h1 {
    margin: 14px 0;
    position: relative;
  }
  h4 {
    font-size: 120%;
    margin-bottom: 10px;
  }
  p {
    margin: 0 20px 10px 20px;
  }
}

.close-info-btn {
  @include delete-btn;
  position: absolute;
  right: 10px;
  top: 10px;
}

.instruction-step {
  border: 2px solid $border;
  margin: 10px 10% 0 10%;
  width: 80%;
}

.detail-box {
  position: absolute;
  visibility: hidden;
}

.show-info {
  position: relative;
  visibility: visible;
}