.instruction-box {
  background-color: $light-background;
  border-right: 5px solid $border;
  border-left: 5px solid $border;
  text-align: left;
  border-top: 2px solid $border;
  padding: 4px 6px;
}