.body {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 80% 20%;
  grid-template-areas: 
    "palette projects"
    "control projects";
  height: 500px;
  width: 100%;
}

.palette-picker {
  border: 1px solid black;
  grid-area: palette;
}

.projects {
  border: 1px solid black;
  grid-area: projects;
}

.control {
  border: 1px solid black;
  grid-area: control;
}