.projects-container {
  @include container;
}

.projects-head {
  border-bottom: 3px solid $border;
  height: 40%;
}

.projects-container h3 {
  padding: 0;
}

.projects-list {
  @include scroll-container;
  height: 60%;
}

.projects-list::-webkit-scrollbar {
  @include scroll-bar;
}

.projects-list::-webkit-scrollbar-thumb {
	@include scroll-thumb;
}

.projects-list::-webkit-scrollbar-track {
	@include scroll-track;
}

.no-projects {
  font-size: 18px;
  margin-top: 20px;
  opacity: .4;
  p {
    margin-bottom: 10px;
  }
}