.projects-container {
  @include container;
}

.projects-head {
  border-bottom: 3px solid $border;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.projects-container h3 {
  padding: 0;
}

.projects-list {
  @include scroll-container;
  height: 50%;
}

.projects-list::-webkit-scrollbar {
  @include scroll-bar;
}

.projects-list::-webkit-scrollbar-thumb {
	@include scroll-thumb;
}

.projects-list::-webkit-scrollbar-track {
	@include scroll-track;
}

.new-project {
  height: 30%;
  margin: 0;
}