h1 {
  color: $title;
  font-size: 340%;
  letter-spacing: 2px;
  margin: 0;
  position: relative;
  text-shadow: 1px 1px $title;
  top: 6px;
}

@media screen and (max-height: 550px) {
  h1 {
    font-size: 200%;
    top: 0;
  }
  h3 {
    font-size: 100%;
 
  }
}