.add-project {
  height: 100%;
  form {
    display: flex;
    height: 100%;
  }
}

.new-project-input {
  @include input;
  margin-left: 10px;
  width: 85%;
}

.add-project-btn {
  // @include small-btn;
  @include add-btn;
  padding: 0;
  width: 15%;
}

.project-error {
  display: block;
}