.add-project {
  height: 12%;
}

.add-project {
  form {
    display: flex;
    height: 100%;
  }
}

.new-project-input {
  @include input;
  width: 80%;
}

.add-project-btn {
  padding: 0;
  width: 20%;
}

.project-error {
  display: block;
}