.add-project {
  height: 100%;
  form {
    display: flex;
    height: 100%;
  }
}

.new-project-input {
  @include input;
  margin-left: 10px;
  width: 78%;
}

.add-project-btn {
  @include small-btn;
  background-color: $add;
  padding: 0;
  width: 20%;
  .fa-plus {
    color: #d4d8d0;
  }
}

.project-error {
  display: block;
}