// *******MediaQuery*******
// to prevent title and text from becoming scrunched on shorter screens
@media screen and (max-height: 550px) {
  h1 {
    font-size: 200%;
    top: 0;
  }
  h3 {
    font-size: 100%;
  }
}

// max width 990
@media screen and (max-width: 990px) {
  .info-btn {
    right: 24%;
  }
  .palette-picker {
    grid-template-columns: 77% 23%;
  }
  .control-container {
    grid-template-columns: 310px 20% auto;
  }
  .palette-mix {
    button {
      font-size: 100%;
    }
  }
}
@media screen and (max-width: 895px) {
  .info-btn {
    right: 18%;
  }
  .palette-picker {
    grid-template-areas: 
    "picker projects"
    "picker palettes"
    "control control";
    grid-template-columns: 70% 30%;
    grid-template-rows: 42% 46% 12%;
  }
  .picker-display {
    flex-direction: column;
  }
  .palette-color {
    align-items: center;
    flex-direction: row-reverse;
    height: 20%;
    justify-content: center;
    width: 100%;
    .fas {
      margin: 0 0 0 20px;
    }
  }
  .hex-display {
    position: relative;
    top: 12px;
  }
  .project { 
    height: 30%;
  }
  .palette {
    height: 32%;
  }
  .new-palette {
    height: 100%;
  }
  .create-new-palette {
    height: 30%;
  }
}
@media screen and (max-width: 685px) {

}