// $background: #97a4db;
$background: #e0e2ea;
$border: #ccc4c4;
$control-btn: #737da7;
$input: #aeb6dc;
$light-background: #c7ceec;
$title: #A93434;
$delete: #A25C83;
$add: #2b792a;
$active: #aa92b9;