// $background: #97a4db;
$background: #f3f4f7;
$border: #ccc4c4;
$control-btn: #737da7;
$console-hover: rgb(231, 209, 209);
$input: #aeb6dc;
$light-background: #e3e5e7;
$title: #22a5a1;
$delete: #A25C83;
$add: #2b792a;
$active: #cab6dd;