$background: #f3f4f7;
$shadow: rgba(0,0,0,0.4);
$border: #ccc4c4;
$control-btn: #c6cce0;
$console-hover:  rgb(228, 206, 206);
$input: #dbdee4;
$light-background: #e3e5e7; 
$title: #52578a;
$delete: #960c0c;
$add: #339c32;
$active: #dad0d2;
$scroll-thumb: rgb(230, 233, 235);
$text: #263674;