* {
  box-sizing: border-box;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: $background;
  color: #19296b;
  display: grid;
  font-family: 'Josefin Sans', sans-serif;
  grid-template-rows: 10% 90%;
  grid-template-areas: 
    "head"
    "main";
  height: 100vh;
  text-align: center;
}

.head {
  grid-area: head;
}

.main {
  grid-area: main;
}