* {
  box-sizing: border-box;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: $background;
  color: $text;
  display: grid;
  font-family: 'Josefin Sans', sans-serif;
  grid-template-rows: 10% 90%;
  grid-template-areas: 
    "head"
    "main";
  height: 100vh;
  position: relative;
  text-align: center;
}

.head {
  grid-area: head;
  display: grid;
  grid-template-columns: 18% 64% 18%;
  grid-template-areas: 
    "left center right";
}

.left-head {
  grid-area: left;
}

.right-head {
  display: flex;
  flex-direction: column;
  grid-area: right;
  justify-content: space-around;
}

.center-head {
  display: flex;
  flex-direction: column;
  grid-area: center;
  justify-content: space-around;
}


.main {
  grid-area: main;
}

.error-display {
  color: rgb(67, 93, 148);
  font-size: 99%;
  margin: 0;
  padding: 0;
}

.info-btn {
  @include icon-btn-hover;
  border: 2px solid $border;
  border-radius: 25px;
  color: #415399;
  height: 24px;
  position: absolute;
  left: 59%;
  top: 8px;
  width: 24px;
  i {
    @include icon-down;
    font-size: 12px;
  }
  &:hover {
    background-color: $console-hover;
  }
}

.info-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 1;

  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: .25s ease-in-out;
}

.modal {
  background-color: $shadow; 
  height: 100%;
  position: absolute;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  transition: .5s ease-in-out;
}

.show-modal {
  visibility: visible;

  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  transition: .25s ease-in-out;
}

.show-overlay {
  visibility: visible;
  opacity: 1;
  transition: .5s ease-in-out;
}