.palette-picker {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 50% 38% 12%;
  grid-template-columns: 82% 18%;
  grid-template-areas: 
    "picker projects"
    "picker palettes"
    "control palettes";
}

.picker-display {
  border: 3px solid $border;
  display: flex;
  justify-content: space-between;
  grid-area: picker;
}

.palette-color {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding-bottom: 20px;
  width: 20%;
  .fas {
    // color: #cac4c4;
    font-size: 260%;
    margin-bottom: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.light {
  color: #535353;
  .fas {
    color: #535353;
  }
}

.dark {
  color: #cac4c4;
  .fas {
    color: #cac4c4;
  }
}

.palettes-display {
  display: block;
  grid-area: palettes;
  height: 100%;
  width: 100%;
}

.control-display {
  display: block;
  grid-area: control;
  height: 100%;
  width: 100%;
}

.projects-diaplay {
  display: block;
  grid-area: projects;
  height: 100%;
  width: 100%;
}

.hex-display {
  // color: #cac4c4;
  font-family: 'hind', sans-serif;
  font-size: 180%;
}