.palette-picker {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 50% 38% 12%;
  grid-template-columns: 84% 16%;
  grid-template-areas: 
    "picker projects"
    "picker palettes"
    "control palettes";
}

.picker-display {
  display: flex;
  justify-content: space-between;
  grid-area: picker;
}

.palette-color {
  @include container;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  padding-bottom: 20px;
  width: 20%;
}

.palettes-display {
  display: block;
  grid-area: palettes;
  height: 100%;
  width: 100%;
}

.control-display {
  display: block;
  grid-area: control;
  height: 100%;
  width: 100%;
}

.projects-diaplay {
  display: block;
  grid-area: projects;
  height: 100%;
  width: 100%;
}

.picker-display .fas {
  color: #cac4c4;
  font-size: 260%;
  &:hover {
    cursor: pointer;
  }
}