.palette-picker {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 55% 10% 35%;
  grid-template-columns: 85% 15%;
  grid-template-areas: 
    "picker projects"
    "control projects"
    "palettes palettes";
}

.picker-display {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  grid-area: picker;
}

.color-box {
  border: 3px solid #b9ae8f;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  padding-bottom: 20px;
  width: 18%;
}

.palettes-display {
  display: block;
  grid-area: palettes;
  height: 100%;
  width: 100%;
}

.control-display {
  display: block;
  grid-area: control;
  height: 100%;
  width: 100%;
}

.projects-diaplay {
  display: block;
  grid-area: projects;
  height: 100%;
  width: 100%;
}

.picker-display .fas {
  font-size: 260%;
}