.palette {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  height: 30%;
  padding: 5px;
  button {
    @include small-btn;
    @include delete-btn;
    border-radius: 17px;
    height: 70%;
    width: 5%
  }
  &:hover {
    background: $control-btn;
    cursor: pointer;
  }
  .fas {
    font-size: 20px;
  }
}

.click-container {
  align-content: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.palette-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.palette-preview {
  display: flex;
  width: 75%;
}

.color-preview {
  @include container;
  height: 100%;
  margin-right: 20px;
  width: 20%;
}

.active-palette {
  background-color: $active;
}