.palette {
  border-bottom: 1px solid black;
  display: flex;
  margin-bottom: 20px;
  height: 20%;
}

.click-container {
  align-content: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.palette-name {
  padding-left: 30px;
  text-align: left;
  width: 20%;
}

.palette-name h4 {
  padding-top: 10%;
}

.palette-preview {
  display: flex;
}

.color-preview {
  border: 1px solid black;
  height: 70px;
  margin-right: 20px;
  width: 70px;
}