.palettes-console {
  @include container;
  background-color: $light-background;
  border-bottom: 3px solid $border;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.saved-palettes {
  background-color: #f3ebe2;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.saved-palettes::-webkit-scrollbar {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
  background-color: #F5F5F5;
  width: 14px;
}

.saved-palettes::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.4);
	background-color: rgb(141, 175, 207);
}

.saved-palettes::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.create-new-palette {
  border-bottom: 3px solid $border;
  border-right: 14px solid $border;
  height: 22%;
  padding: 5px 0;
}