.palettes-console {
  @include container;
  border-bottom: 3px solid $border;
}

.saved-palettes {
  @include scroll-container;
  padding: 0;
  height: 100%;
}

.saved-palettes::-webkit-scrollbar {
  @include scroll-bar;
}

.saved-palettes::-webkit-scrollbar-thumb {
  @include scroll-thumb;
}

.saved-palettes::-webkit-scrollbar-track {
	@include scroll-track;
}

.create-new-palette {
  border-bottom: 3px solid $border;
  border-right: 14px solid $border;
  height: 22%;
  padding: 2px 0;
}