.control-display {
  border-bottom: 3px solid $border;
  border-left: 3px solid $border;
  border-right: 3px solid $border;
}

.control-container {
  align-items: center;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-areas: "selection mix name";
  height: 100%;
  width: 100%;
}

.palette-mix {
  grid-area: mix;
  height: 70%;
  margin: 0 10%;
  width: 80%;
  button {
    @include control-btn;
    border-radius: 10px;
    width: 100%;
  }
}

.selected-project {
  grid-area: selection;
  margin-left: 12px;
  text-align: left;
  p {
    font-size: 16px;
    margin-bottom: 4px;
  }
  span {
    font-size: 17px;
    font-weight: 800;
    text-decoration: underline;
  }
}

.palette-submit {
  grid-area: name;
  height: 64%;
  width: 100%;
  input {
    @include input;
    width: 80%;
  }
  button {
    @include control-btn;
    border-radius: 0 10px 10px 0;
  }
}